* {
  box-sizing: content-box;
}
body {
  margin: 2rem;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #9696cb;
}
.menu-header__nav-list {
  list-style: none;
}
.navigator__link {
  margin: 1.5rem;
}
.menu-header__list-of-links {
  display: flex;
  flex-direction: row;
  list-style: none;
}
