* {
  box-sizing: content-box;
}
body {
  margin: 0;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  display: flex;
}
menu-header__navigator {
  display: flex;
  list-style: none;
}
