:root {
  --background-header-color: #9696cb;
}
* {
  box-sizing: content-box;
}
body {
  margin: 2rem;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  background-color: var(--background-header-color);
}
.menu-header__nav-list {
  list-style: none;
}
.list-of-links__link {
  margin: 1.5rem;
}
.menu-header__list-of-links {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: baseline;
}
