:root {
  --background-header-color: #5e75d1;
  --shop-summary-color: #f97400;
  --background-list-of-items: #ff8d26;
}
* {
  box-sizing: content-box;
}
body {
  margin: 2rem;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
.menu-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  background-color: var(--background-header-color);
}
.menu-header__nav-list {
  list-style: none;
}
.list-of-links__link {
  margin: 1.5rem;
}
.menu-header__list-of-links {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: baseline;
}
.shop-summary-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  font-size: 2.3rem;
  padding: 2rem;
  background-color: var(--shop-summary-color);
}
.shopping-list__list {
  list-style: none;
}
